!!!
html
  head
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='description', content='description of your site')
    meta(name='author', content= "Jevi Ropa")

    title= title
    
    link(rel='stylesheet', href='css/master.css')
    link(rel='stylesheet', href='vendor/fancyapps/source/jquery.fancybox.css')

  body
    != content

    //- add other scripts through require.js, not here
    script(data-main="js/main", src="js/require.js")
    script
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-43106171-1', 'jeviropa.com');
      ga('send', 'pageview');

    //- this must be included for live reload to work in developement
    //- it will be automatically ignored when deployed
    != livereload
