ul
  column(10)
  

  li
    list-style: none
    float: left
    height: 16em
    column(3)
    box-shadow: 10px 10px 5px #888888
    margin: 3em 4em 0 0
    border: 1px solid

    .tiles
      width: 100%
      margin: 1em
