#products
  // display: none

  ul
    column(11)
    
    li
      list-style: none
      float: left
      min-height: 20em
      column(3)
      box-shadow: 10px 10px 5px #888888
      margin: 2em 4em 1em 0
      border: 1px solid

      .shirts
        margin: 1em

      .caps
        margin: 3em 0
        column(12)

        img
          margin-bottom: 3em
          // width: 89%

      img
        width:100%

      .button-group
        column(12)

        .compra
          simple-button(#db5757, 15)
          position: relative
          // bottom: 5px
          column(5)

        .enlarge
          simple-button(#e8e8e8, 4)
          font-size: 2em
          column(2)

          span
            position: relative
            bottom: 4px
