@import '_settings'
// @import '../js/vendor/fancyapps/source/fancybox'

normalize()
base()
grid()

@import '_product'

body
  .wrap
    column(11)
    offset(1)

  img.header
    column(8)
    offset(1)

  #footer
    column(12)
    // background-color: black
    min-height: 4em